--- 
layout: default 
title: 我的Blog 
---
<ul class="page_list">

    {% for post in paginator.posts %}
    <li class="page_item">
        <a class="page_title link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="page_date flexbox flex-ali-center">
            <i class="material-icons">&#xE192;</i>{{post.date | date:"%Y-%m-%d"}}
            <i style="margin-left: 10px;" class="material-icons">&#xE153;</i><a href="{{site.baseurl}}/categories/index.html#{{ post.categories}}">{{ post.categories}}</a>
        </div>
        <div class="page_content">{{ post.excerpt }}</div>
        <div class="page_tags"><a href="#">标签1</a><a href="#">标签2</a></div>
        <a class="page_enter" href="{{ site.baseurl }}{{ post.url }}">阅读全文 ></a>
    </li>
    {% endfor %}

</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}