<div class="aside con {{include.param}}" id="aside">
      <div class="category_list">
            <h2 class="flexbox flex-ali-center my_title"><i class="material-icons">&#xE153;</i>  文章分类</h2>
            <ul class="category_list">
                  {% for category in site.categories %}
                  <li><a class="link" href="{{site.baseurl}}/categories/index.html#{{ category | first }}">{{ category | first }}</a><span>({{ category | last | size }})</span></li2>
                  {% endfor %}
            </ul>
      </div>
      
</div>