<div class="aside con {{include.param}}" id="aside">
      {% for category in site.categories %}
      <h2><a href="{{site.baseurl}}/categories/index.html#{{ category | first }}">{{ category | first }}<span>({{ category | last | size }})</span></a></h2>
      <ul class="arc-list">
            {% for post in category.last %}
            <li>{{ post.date | date:"%Y年%m月%d日"}} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
      </ul>
      {% endfor %}
</div>