body{ padding-top: 300px; background: #f3f4f6; }
.page_list{ padding: 0; margin: 0; list-style: none;}
.page_item{ padding-bottom: 20px; border-top: 1px solid #eee; color: rgba(39, 48, 57, 0.8);}
.page_list .page_item:first-child{ border: 0;}
.page_title{ display: inline-block; height: 50px; padding-top: 10px; font-size: 24px; line-height: 50px; transition: .3s;}
.page_title:hover{ color: #1e90ff;}
.page_date{ height: 30px; line-height: 30px; color: #999; font-size: 14px;}
.page_content{ line-height: 1.8em; font-size: 16px; color: dimgray; padding-left: 15px; border-left: 4px solid #ccc; margin: 10px 0 15px 0;}
.page_content p,.page_content blockquote{ margin: 0;}
.page_tags{ padding-bottom: 15px;}
.page_tags a{ display: inline-block; font-size: 12px;  margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px; border-radius: 2px; color: #999; background: #eee; transition: .3s;}
.page_tags a:hover{ text-decoration: none; color:#fff;background: dodgerblue;}
.page_enter{ font-size: 14px; color: #1e90ff; }
/*分页*/
.pager{ width: 900px; margin: 0 auto; text-align: right; padding: 20px 300px 20px 0;}
.pagination{ display: inline-block; overflow: hidden; margin-right: 20px; background: #fff; font-size: 0; border-radius: 3px;border: 1px solid rgba(39,48,57,.08); box-shadow: 0 0 5px rgba(39,48,57,.05);}
.pagination a{ display: inline-block; width: 40px; height: 36px; font-size: 16px; color: #777; text-align: center; line-height: 36px;}
.pagination a.current{ background: dodgerblue!important; color: #fff;}
.pagination .page_arrow{ padding: 0 20px;}
.pagination a.no_page{ background: whitesmoke!important;}
.pagination a:hover{ background:aliceblue; }
.page_arrow .material-icons{ vertical-align: middle;}