body{ padding-top: 300px; background: #f3f4f6; }
.page_item{ padding-bottom: 20px; border-bottom: 1px solid #eee;}
.page_title{ display: inline-block; height: 50px; font-size: 24px; line-height: 50px; color: dodgerblue;}
.page_title:hover{ }
.page_date{ height: 30px; line-height: 30px; color: #999; font-size: 14px;}
.page_content{ line-height: 1.8em; font-size: 16px; color: dimgray; padding-left: 15px; border-left: 4px solid #ccc; margin: 10px 0 15px 0;}
.page_tags{ padding-bottom: 15px;}
.page_tags a{ display: inline-block; font-size: 12px;  margin-right: 5px; height: 24px; line-height: 24px; padding: 0 10px; border-radius: 2px; color: #999; background: #eee; transition: .3s;}
.page_tags a:hover{ text-decoration: none; color:#fff;background: dodgerblue;}
.page_enter{ font-size: 14px; color: #1e90ff; }