.top{ position: fixed; left: 0; top: 0; z-index: 100; width: 100%; color: #fff; transition: .3s;}
.top_item{ width: 54px; height: 54px; color: #fff;}
.top .material-icons{ font-size: 24px; margin: 0;}
.top.sub{ background: dodgerblue;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}