.top{ position: fixed; left: 0; top: 0; z-index: 100; width: 100%; color: #fff; transition: .3s;}
.top_item{ padding: 15px; width: 54px; height: 54px; color: #fff;}
.top .material-icons{ font-size: 24px;}
.top.sub{ background: dodgerblue;}