body{font-family:Helvetica; -webkit-font-smoothing: antialiased; }
h1,h2,h3,h4,h5,h6{font-size:100%; margin:0; font-weight:400;}
body,form,ul,ol,dl,dd,p,blockquote{margin:0;}
ul,ol{list-style-type:none; padding: 0;}
img{border:0 none;vertical-align:middle;}
a{text-decoration:none;outline: 0;}
textarea{ overflow:auto; resize: vertical;}
table {border-collapse:collapse;border-spacing:0;}
:active,:focus{ outline: 0;}
input::-ms-clear{display:none;}
.mfix:before{content:'';display:inline-block; width:0; height:100%; vertical-align:middle;}
.mfix>*{display:inline-block;vertical-align:middle;}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0);}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx){ 
    /* Retina 下仍使用默认字体渲染 */
	body { -webkit-font-smoothing: subpixel-antialiased; }
}

/*
flex
*/
.flexbox{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
/*水平*/
.flex-dir-row{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
/*垂直*/
.flex-dir-col{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*子元素主轴对齐方式 -居中*/
.flex-jus-center{
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/*子元素主轴对齐方式 -居右*/
.flex-jus-end{
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
/*子元素主轴对齐方式 -两端对齐*/
.flex-jus-between{
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*子元素交叉轴对齐方式-顶部对齐*/
.flex-ali-start{
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
/*子元素交叉轴对齐方式-居中*/
.flex-ali-center{
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

/*子元素交叉轴对齐方式-底部对齐*/
.flex-ali-end{
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}



/*flex: 1*/
.flex-item{
    -webkit-box-flex: 1.0;
    -moz-box-flex : 1;
    -webkit-flex: 1;
    flex: 1;
}
a.link:before{content: 'link';font-family: 'Material Icons'; margin-right: 5px; font-style: normal; -webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;-moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';}
a.link:hover{color: dodgerblue;}
.header{ position: absolute;left: 0; top: 0; width: 100%; height: 500px; background: dodgerblue;}
.main{ position: relative; width: 900px; padding-right: 300px; margin: 0 auto; }
#canvas{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.ripple{ position: relative; overflow: hidden;}
.ripple_effect{ position: absolute; border-radius: 100%; left: 0; top: 0; transform:scale(0) translate(-50%,-50%); background: rgba(0,0,0,0.3); }
.ripple.active .ripple_effect{ animation: ripple 1s;}
@keyframes ripple{
  0%  {transform:translate(-50%,-50%) scale(0);}
  75%  {transform:translate(-50%,-50%) scale(.9);}
  100% {transform:translate(-50%,-50%) scale(1); opacity: 0;}
}
.content{ margin-right: 20px;}
.con{background: #fff; padding: 20px 30px; border-radius: 3px;border: 1px solid rgba(39,48,57,.08);box-shadow: 0 0 5px rgba(39,48,57,.05);}
.aside{ position: absolute; box-sizing: border-box; left: 50%; margin-left: 300px; top: 0; width: 300px; transition: .3s;}
.aside.fixed{ position:fixed;top: 70px;}