<!DOCTYPE html>

　　<html>

　　<head>
        
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />

　　　　<title>{{ page.title }}</title>
<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-8c26e767b0a264423ad015da4d24e232d3bff5e88070d44aca8bd3d8f4a226a5.css" integrity="sha256-jCbnZ7CiZEI60BXaTSTiMtO/9eiAcNRKyovT2PSiJqU=" media="all" rel="stylesheet">
        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/rainbow.min.css">

　　</head>

　　<body>
<h1>博客</h1>
　　　　{{ content }}

　　</body>
</html>
