<!DOCTYPE html>

<html>

<head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/stylesheets/normalize.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/iconfont/material-icons.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/stylesheets/index.css" type="text/css" rel="stylesheet">
</head>  

<body>
    {% include nav.html %}
    <div class="header">
        <canvas id="canvas"></canvas>
    </div>
    <div class="main" id="main">
        <div class="content con">
            {{ content }}
        </div>
        {% include side.html %}
    </div> 
</body>
<script src="{{ site.baseurl }}/javascript/src/agility.js"></script>
<script src="{{ site.baseurl }}/javascript/js/starry.js"></script>
<script src="{{ site.baseurl }}/javascript/js/ripple.js"></script>
<script src="{{ site.baseurl }}/javascript/index.js"></script>
</html>
