<!DOCTYPE html>

<html>

<head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/stylesheets/normalize.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/iconfont/material-icons.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/stylesheets/stylesheet.css" type="text/css" rel="stylesheet">
</head>  

<body>
    {% include nav.html %}
    <div class="header">
        <canvas id="canvas"></canvas>
    </div>
    <div class="main flexbox flex-ali-start">
        <div class="content con flex-item">
            {{ content }}
        </div>
        <div class="aside con">
            {% for category in site.categories %}
            <h2>{{ category | first }}<span>({{ category | last | size }})</span></h2>            
            <ul class="arc-list">
                {% for post in category.last %}
                    <li>{{ post.date | date:"%Y年%m月%d日"}} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div> 
</body>
<script src="{{ site.baseurl }}/javascript/src/agility.js"></script>
<script src="{{ site.baseurl }}/javascript/js/starry.js"></script>
<script src="{{ site.baseurl }}/javascript/js/ripple.js"></script>
<script src="{{ site.baseurl }}/javascript/index.js"></script>
</html>
