<!DOCTYPE html>

<html>

<head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    <link href="{{ site.baseurl }}/stylesheets/normalize.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/iconfont/material-icons.css" type="text/css" rel="stylesheet">
    <link href="{{ site.baseurl }}/stylesheets/page.css" type="text/css" rel="stylesheet">
    
</head>  

<body>
    {% include nav.html param="sub" %}
    <div class="main flexbox flex-ali-start">
        <div class="content con flex-item">
            {{ content }}
        </div>
        <div class="aside con">
            {% include side.html %}
        </div>
    </div> 
    <script src="{{ site.baseurl }}/javascript/js/ripple.js"></script>
</body>
</html>
