<!DOCTYPE html>

<html>

<head>
    {% include meta.html %}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/markdown.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/github-light.css">
</head>  

<body>
    {% include nav.html param="sub" %}
    <div class="main flexbox flex-ali-start">
        <div class="content con flex-item">
            {{ content }}
        </div>
        <div class="aside con">
            {% include side.html %}
        </div>
    </div> 
</body>
</html>
